.grid-container-productos {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'header			header   	header'
        'categorias-productos-container	categorias-productos-container  categorias-productos-container'
        'categorias-productos-container	categorias-productos-container  categorias-productos-container'
        'footer	 		footer 		footer';

}

.categorias-productos-container {
    margin-top: 40px;
    grid-area: categorias-productos-container;
}

.productos-container {

    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    grid-template-rows: auto;
    font-size: 18px;
    height: fit-content;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    grid-template-areas:
        'item-prod1 item-prod2 item-prod3'
        'item-prod4 item-prod5 item-prod6'
        'item-prod7 item-prod8 item-prod9'
        'item-prod10 item-prod11 item-prod12'



}


.btn-prod {
    height: 40px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: white;
    border-color: solid 1px black;
    background-color: rgb(104, 104, 104);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


    &:hover {
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        border: solid 1px black;
        color: rgb(0, 0, 0);
    }

}

.btn-prod2 {
    height: 40px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: rgb(108, 175, 153);
    border-color: solid 1px black;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;


    &:hover {
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        border: solid 1px black;
        color: rgb(0, 0, 0);
    }

}

.grid-container-productos {
    background-color: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'header			header   	header'
        'categorias-productos-container	categorias-productos-container  categorias-productos-container'
        'categorias-productos-container	categoriasl-productos-container  categorias-productos-container'
        'footer	 		footer 		footer';

}

.categorias-productos-container {
    margin-top: 25px;
    grid-area: categorias-productos-container;
}

.categorias-container {
    height: 100vh;
    overflow: hidden;
    max-width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 'cat-MTB cat-repuestos cat-accesorios cat-indumentaria';

    .item-cat {
        height: 600px;
        width: 300px;
        box-shadow: 5px 0px 10px rgb(155, 155, 155);
        justify-content: center;
        align-items: center;
        display: flex;
        transition: 0.2s;
        backdrop-filter: brightness(40%);
        background-size: cover;

        .bright {
            backdrop-filter: brightness(40%);
            height: 100%;
            width: 100%;
        }


        &:hover {
            transform: scale(1.02)
        }
    }

    .item-cat-titulo {
        font-size: 30px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        color: white;
    }

    .cat-MTB {
        grid-area: cat-MTB;
        background-image: url(../img/catMTB.jpg);
        backdrop-filter: brightness(40%);

    }

    .cat-repuestos {
        grid-area: cat-repuestos;
        background-image: url(../img/catREP.jpg);
    }

    .cat-accesorios {
        grid-area: cat-accesorios;
        background-image: url(../img/catACC.jpg);
    }

    .cat-indumentaria {
        grid-area: cat-indumentaria;
        background-image: url(../img/catIND.jpg);
    }
}

.space-intercat {
    width: 100vw;
    height: 100px;

}

.titulo-cat-container {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.titulo-cat {
    height: 100px;
    width: 1090px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 35px;
    background-color: rgb(39, 39, 39);

}


.item-prod {
    height: 500px;
    width: 350px;
    font-size: 60px;
    text-decoration: none;
    box-shadow: 5px 0px 10px rgb(155, 155, 155);
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    .item-img-container {
        height: 70%;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column-reverse;

    }

    .item-desc-container {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3%;

        h4 {
            font-size: 18px;
            font-weight: lighter;
            color: black;
            text-align: center;
            height: fit-content;
        }

        h5 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: black;
            text-align: center;
            height: fit-content;
        }

        h6 {
            font-size: 18px;
            color: rgb(0, 0, 0);
            text-align: center;
        }

    }

}
// ************************************************************MTB***********************************************************************//
.item-MTB-prod1 {
    grid-area: item-prod1;

    .item-img-container {
        background-image: url(../img/prod2.jpg);
    }
}

.item-MTB-prod2 {
    grid-area: item-prod2;

    .item-img-container {
        background-image: url(../img/prod1.jpg);
    }
}

.item-MTB-prod3 {
    grid-area: item-prod3;

    .item-img-container {
        background-image: url(../img/prod3.jpg);
    }
}

.item-MTB-prod4 {
    grid-area: item-prod4;

    .item-img-container {
        background-image: url(../img/prod2.jpg);
    }
}

.item-MTB-prod5 {
    grid-area: item-prod5;

    .item-img-container {
        background-image: url(../img/prod2.jpg);
    }
}

.item-MTB-prod6 {
    grid-area: item-prod6;

    .item-img-container {
        background-image: url(../img/prod1.jpg);
    }
}

.item-MTB-prod7 {
    grid-area: item-prod7;

    .item-img-container {
        background-image: url(../img/prod3.jpg);
    }
}

.item-MTB-prod8 {
    grid-area: item-prod8;

    .item-img-container {
        background-image: url(../img/prod2.jpg);
    }
}

.item-MTB-prod9 {
    grid-area: item-prod9;

    .item-img-container {
        background-image: url(../img/prod3.jpg);
    }
}

.item-MTB-prod10 {
    grid-area: item-prod10;

    .item-img-container {
        background-image: url(../img/prod1.jpg);
    }
}

.item-MTB-prod11 {
    grid-area: item-prod11;

    .item-img-container {
        background-image: url(../img/prod2.jpg);
    }
}

.item-MTB-prod12 {
    grid-area: item-prod12;

    .item-img-container {
        background-image: url(../img/prod3.jpg);
    }
}

// ***************************************************************REPUESTOS************************************************************//
.item-repuestos-prod1 {
    grid-area: item-prod1;

    .item-img-container {
        background-image: url(../img/rep1.jpg);
    }
}

.item-repuestos-prod2 {
    grid-area: item-prod2;

    .item-img-container {
        background-image: url(../img/rep2.jpg);
    }
}

.item-repuestos-prod3 {
    grid-area: item-prod3;

    .item-img-container {
        background-image: url(../img/rep3.jpg);
    }
}

.item-repuestos-prod4 {
    grid-area: item-prod4;

    .item-img-container {
        background-image: url(../img/rep2.jpg);
    }
}

.item-repuestos-prod5 {
    grid-area: item-prod5;

    .item-img-container {
        background-image: url(../img/rep3.jpg);
    }
}

.item-repuestos-prod6 {
    grid-area: item-prod6;

    .item-img-container {
        background-image: url(../img/rep1.jpg);
    }
}

.item-repuestos-prod7 {
    grid-area: item-prod7;

    .item-img-container {
        background-image: url(../img/rep3.jpg);
    }
}

.item-repuestos-prod8 {
    grid-area: item-prod8;

    .item-img-container {
        background-image: url(../img/rep1.jpg);
    }
}

.item-repuestos-prod9 {
    grid-area: item-prod9;

    .item-img-container {
        background-image: url(../img/rep2.jpg);
    }
}

.item-repuestos-prod10 {
    grid-area: item-prod10;

    .item-img-container {
        background-image: url(../img/rep2.jpg);
    }
}

.item-repuestos-prod11 {
    grid-area: item-prod11;

    .item-img-container {
        background-image: url(../img/rep1.jpg);
    }
}

.item-repuestos-prod12 {
    grid-area: item-prod12;

    .item-img-container {
        background-image: url(../img/rep3.jpg);
    }
}

// ***************************************************************ACCESORIOS*******************************************************//
.item-accesorios-prod1 {
    grid-area: item-prod1;

    .item-img-container {
        background-image: url(../img/acc1.jpg);
    }
}

.item-accesorios-prod2 {
    grid-area: item-prod2;

    .item-img-container {
        background-image: url(../img/acc2.jpg);
    }
}

.item-accesorios-prod3 {
    grid-area: item-prod3;

    .item-img-container {
        background-image: url(../img/acc3.jpg);
    }
}

.item-accesorios-prod4 {
    grid-area: item-prod4;

    .item-img-container {
        background-image: url(../img/acc2.jpg);
    }
}

.item-accesorios-prod5 {
    grid-area: item-prod5;

    .item-img-container {
        background-image: url(../img/acc3.jpg);
    }
}

.item-accesorios-prod6 {
    grid-area: item-prod6;

    .item-img-container {
        background-image: url(../img/acc1.jpg);
    }
}

.item-accesorios-prod7 {
    grid-area: item-prod7;

    .item-img-container {
        background-image: url(../img/acc3.jpg);
    }
}

.item-accesorios-prod8 {
    grid-area: item-prod8;

    .item-img-container {
        background-image: url(../img/acc1.jpg);
    }
}

.item-accesorios-prod9 {
    grid-area: item-prod9;

    .item-img-container {
        background-image: url(../img/acc2.jpg);
    }
}

.item-accesorios-prod10 {
    grid-area: item-prod10;

    .item-img-container {
        background-image: url(../img/acc2.jpg);
    }
}

.item-accesorios-prod11 {
    grid-area: item-prod11;

    .item-img-container {
        background-image: url(../img/acc1.jpg);
    }
}

.item-accesorios-prod12 {
    grid-area: item-prod12;

    .item-img-container {
        background-image: url(../img/acc3.jpg);
    }
}

// **************************************************************INDUMENTARIA********************************************************//
.item-indumentaria-prod1 {
    grid-area: item-prod1;

    .item-img-container {
        background-image: url(../img/ind1.jpg);
    }
}

.item-indumentaria-prod2 {
    grid-area: item-prod2;

    .item-img-container {
        background-image: url(../img/ind2.jpg);
    }
}

.item-indumentaria-prod3 {
    grid-area: item-prod3;

    .item-img-container {
        background-image: url(../img/ind3.jpg);
    }
}

.item-indumentaria-prod4 {
    grid-area: item-prod4;

    .item-img-container {
        background-image: url(../img/ind2.jpg);
    }
}

.item-indumentaria-prod5 {
    grid-area: item-prod5;

    .item-img-container {
        background-image: url(../img/ind3.jpg);
    }
}

.item-indumentaria-prod6 {
    grid-area: item-prod6;

    .item-img-container {
        background-image: url(../img/ind1.jpg);
    }
}

.item-indumentaria-prod7 {
    grid-area: item-prod7;

    .item-img-container {
        background-image: url(../img/ind3.jpg);
    }
}

.item-indumentaria-prod8 {
    grid-area: item-prod8;

    .item-img-container {
        background-image: url(../img/ind1.jpg);
    }
}

.item-indumentaria-prod9 {
    grid-area: item-prod9;

    .item-img-container {
        background-image: url(../img/ind2.jpg);
    }
}

.item-indumentaria-prod10 {
    grid-area: item-prod10;

    .item-img-container {
        background-image: url(../img/ind2.jpg);
    }
}

.item-indumentaria-prod11 {
    grid-area: item-prod11;

    .item-img-container {
        background-image: url(../img/ind1.jpg);
    }
}

.item-indumentaria-prod12 {
    grid-area: item-prod12;

    .item-img-container {
        background-image: url(../img/ind3.jpg);
    }
}

/* +++++++++++++++++++++++++++++++++++++++++   RESPONSIVE:  200-760px ++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 200px) and (max-width: 760px) {
    .productos-container {

        color: white;
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        grid-template-rows: auto;
        font-size: 18px;
        height: fit-content;
        gap: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 2%;
        padding-top: 2%;
        grid-template-areas:
            'item-prod1'
            'item-prod2'
            'item-prod3'
            'item-prod4'
            'item-prod5'
            'item-prod6'
            'item-prod7'
            'item-prod8'
            'item-prod9'
            'item-prod10'
            'item-prod11'
            'item-prod12';
    }

    .categorias-container {
        height: 85vh;
        overflow: hidden;
        max-width: 100vw;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 3%;
        margin-top: 30px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'cat-MTB cat-repuestos'
            'cat-accesorios cat-indumentaria';

        .item-cat {
            height: 100%;
            width: 100%;
            box-shadow: 5px 0px 10px rgb(155, 155, 155);
            justify-content: center;
            align-items: center;
            display: flex;
            transition: 0.2s;
            backdrop-filter: brightness(40%);
            background-size: cover;
        

            &:hover {
                transform: scale(1.0);
            }
        }
        .item-cat-titulo {
            font-size: 22px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            width: 100%;
            color: white;
        }

    }
    .item-prod {
        height: 500px;
        width: 100%;
        max-width: 500px;
        min-width: 300;
        font-size: 60px;
        text-decoration: none;
        box-shadow: 5px 0px 10px rgb(155, 155, 155);
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    .space-intercat {
        width: 100vw;
        height: 70px;
    
    }
}

/* +++++++++++++++++++++++++++++++++++++++++   RESPONSIVE:  761-1023px ++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 761px) and (max-width: 1023px) {
    .productos-container {

        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        grid-template-rows: repeat(6, auto);
        font-size: 18px;
        height: fit-content;
        gap: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-top: 2%;
        grid-template-areas:
            'item-prod1 item-prod2'
            'item-prod3 item-prod4'
            'item-prod5 item-prod6'
            'item-prod7 item-prod8'
            'item-prod9 item-prod10'
            'item-prod11 item-prod12'

    }

    .categorias-container {
        height: 100vh;
        width: 100vw;
        display: grid;
        padding-top: 80px;
        align-items: center;
        justify-items: center;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'cat-MTB cat-repuestos'
            'cat-accesorios cat-indumentaria';

        .item-cat {
            height: 100%;
            width: 100%;
            box-shadow: 5px 0px 10px rgb(155, 155, 155);
            justify-content: center;
            align-items: center;
            display: flex;
            transition: 0.2s;
            backdrop-filter: brightness(40%);
            background-size: cover;


            &:hover {
                transform: scale(1.0);
            }
        }
    }
}